.item-card{
    display: flex;
    justify-content: center;
   
}
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-style: none;
    width: 500px;
}

.game-cover{
    margin-top: 10px;
    width: 200px;
    height: auto;
}