.container-home{
    
    width: 80%;
    min-height: 70vh;
    margin-top: 30px;
    background-image: url(../../assets/img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: beige;
    border-radius: 1.3%;
    position: relative;
    
}
.container-home:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    background: (blue, orange)
}
.saludo{
    margin-left: 50px;
    margin-top: 50px;
    width: 30%;
    font-size: 43px;
    position: relative;
    top: 20px;
    background-image: linear-gradient(black 50%, rgba(255, 255, 255,0 50%));
}