.navbar{
    display: flex;
    font-family: 'Gilroy-extra';
    text-decoration: none;
}

.navbar a{
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.navbar a:hover{
    color: #5cb85c;
}

.navbar .collapse{
    justify-content: flex-end;
}
.navbar .navbar-brand{
    font-size: 30px;
}
nav{
    background-color: black;
}

